<style>
.so {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

</style>

<div class="row text-light" style="height: auto; border-top: 2px solid black; box-shadow: 3px 0px 100px black; background-color: black; font-family: serif;"> <!-- FOOTER div -->
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h3 style="margin-top: 100px; font-family: serif; font-size: 20px; margin-bottom:50px;">Contact Us</h3>
             <div class="row">
                 <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <h6><i class="fa fa-map-marker" style="font-size:24px"></i><b style="margin-left: 10px">Address:</b></h6>

                     <h6><i>P.O Box 80</i></h6>
                     <h6><i>LT 80-Laterbiokorshie</i></h6>
                     <h6><i>Accra- Ghana</i></h6>

                 </div>

               <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                     <h6><i class="fa fa-phone"></i><span style="margin-left: 10px;"><b>Phone:</b></span></h6>
                            <h6>(+233)27-279-0174</h6>
                            <h6>(+233)20-081-2752</h6>

                     <h6 style="margin-top: 30px;"><i class="fa fa-envelope"></i><span style="margin-left: 10px;"><b>Email:</b></span></h6>
                     <h6>Achphix@gmail.com</h6>
                 </div>
             </div>

    </div>

     <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <h3 style="margin-top: 100px; font-family:serif; font-size: 20px;">Follow Us</h3>
             <a href="#" class="fa so fa-facebook"></a>
             <a href="#" class="fa so fa-twitter"></a>
             <a href="#" class="fa so fa-google"></a>
             <a href="#" class="fa so fa-youtube"></a>
             <a href="#" class="fa so fa-instagram"></a>
             <p><img src="static/img/logblack.png" width="200px" height="200px"></p>
     </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h3 style="margin-top: 150px; font-family:serif; font-size: 20px; ">Join Our Training</h3>
        <p><b>Programmes :</b></p>
                <ul class="fa-ul" style="color: blue;">
                    <li><i class="fa-li fa fa-spinner fa-spin"></i><b>Computer Hardware</b></li>
                    <li><i class="fa-li fa fa-spinner fa-spin"></i><b>Computer Networking</b></li>
                    <li><i class="fa-li fa fa-spinner fa-spin"></i><b>Programing with Python</b></li>
                </ul>
               <h5 style="margin-top: 50px;"> </i>Send Request <span class="bg-info"><b>HERE!</b></span> </h5>
               <a href="/register"><button type="button" class="btn btn-outline-light btn-lg"><b>Send Request</b></button></a>
    </div>

 </div>